<a href="https://colab.research.google.com/github/asegura4488/MetodosComputacionalesI2025/blob/main/Semana8/EliminacionGaussiana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import matplotlib.pyplot as plt

In [22]:
A = np.array([[3,-1,-1],[-1.,3.,1.],[2,1,4]])
b = np.array([1.,3.,7.])

In [23]:
np.linalg.solve(A,b)

array([1., 1., 1.])

In [24]:
# Necesitamos llevar el sistema de ecuaciones a una triangular superior
# Los pivotes deben diferentes de 0: a trav√©s de intercambio de feliz

In [25]:
def TriangularSuperior(A,b=None):

  A = np.array(A, dtype=float, copy=True)
  n = A.shape[0]
  y = None if b is None else np.array(b, dtype=float, copy=True)

  for k in range(n):

    if A[k,k] == 0:
      raise ValueError("Error pivote")
    else:
      pivote = A[k,k]
      print(pivote)
      for i in range(k+1,n):
        #
        print(A[i,k],A[i,k]/pivote)

  return (A,y) if b is not None else A

In [28]:
U,y = TriangularSuperior(A,b)

3.0
-1.0 -0.3333333333333333
2.0 0.6666666666666666
3.0
1.0 0.3333333333333333
4.0

In [29]:
U

array([[ 3., -1., -1.],
       [-1.,  3.,  1.],
       [ 2.,  1.,  4.]])